<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="icon" href="{{ 'assets/img/favicon.jpeg' | relative_url }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<script>
    // Prevent FOUC
    (function() {
      const savedTheme = localStorage.getItem('theme');
      const systemPrefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
      const initialTheme = savedTheme || (systemPrefersDark ? 'dark' : 'light');
      document.documentElement.setAttribute('data-theme', initialTheme);
    })();
  </script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ND6YYE0T6N"></script>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Researcher",
    "name": "Ashfaque Khowaja",
    "url": "https://ashfaquekhowaja.com/",
    "description": "Ashfaque Khowaja is a researcher specializing in computer vision, AI, and embedded systems.",
    "sameAs": [
      "https://scholar.google.com/citations?user=P9J0bO4AAAAJ&hl=en",
      "https://www.linkedin.com/in/ashfaquekhowaja",
      "https://github.com/ashfaquekhowaja"
    ]
  }
  </script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ND6YYE0T6N');
</script>

  </head>