<ul class="social-media-list">
    <li>
      <a href="https://github.com/ashfaquekhowaja" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-github"></i> GitHub
      </a>
    </li>
    
    <li>
      <a href="mailto:khowaja.ashfaqali@hotmail.com">
        <i class="fas fa-envelope"></i> Email
      </a>
    </li>
    
    <li>
      <a href="https://scholar.google.com/citations?user=P9J0bO4AAAAJ&hl=en" target="_blank" rel="noopener noreferrer">
        <i class="fas fa-graduation-cap"></i> Google Scholar
      </a>
    </li>
    
    <li>
      <a href="https://x.com/AshfaqueKhowaja" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-twitter"></i> Twitter
      </a>
    </li>
    
    <li>
      <a href="https://www.linkedin.com/in/ashfaquekhowaja/" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-linkedin"></i> LinkedIn
      </a>
    </li>
    
    <li>
      <a href="https://orcid.org/my-orcid?orcid=0009-0007-0352-3316" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-orcid"></i> ORCID
      </a>
    </li>
  </ul>