body {
    font-family: 'Lato', sans-serif;
  }
  
  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensures the header stays on top */
    background-color: white; /* Add a background color if needed */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
  }
  
  
  main h2 {
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  main ul {
    list-style-type: none;
    padding: 0;
  }
  
  main ul li {
    margin-bottom: 15px;
  }
  
  footer {
    margin-top: 50px;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  html {
    scroll-behavior: smooth;
  }
  