<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
  {% include head.html %}
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ND6YYE0T6N"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ND6YYE0T6N');
</script>

<body>
  {% include header.html %}
  <script src="{{ '/assets/js/main.js' | relative_url }}"  defer></script>

  <main class="container">
    {{ content }}
  </main>
  
  {% include footer.html %}
</body>
</html>